* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: "Ubuntu";
  image-rendering: pixelated;
}

body {
  background-color: #000000;
}
