.scrollbar__thumbPlaceholder--vertical {
    width: 17px !important;
    /*top: 16px !important;*/
    right: -17px;
}
.scrollbar__wrapper {
    margin-right: 17px;
}
.scrollbar__thumb--vertical {
    width: 100%;
    height: calc(100% - 26px);
    background-image: url(./assets/images/scrollbar_thumb.png);
    position: relative;
}
.scrollbar__thumb--vertical:hover {
    background-position: -17px 0;
}
.scrollbar__thumb--vertical:active {
    background-position: -34px 0;
}
.scrollbar__thumb--vertical:before {
    content: "";
    position: absolute;
    height: 5px;
    width: 100%;
    background-image: url(./assets/images/scrollbar_thumb_top.png);
    top: 0;
}
.scrollbar__thumb--vertical:hover:before {
    background-position: -17px 0;
}
.scrollbar__thumb--vertical:active:before {
    background-position: -34px 0;
}
.scrollbar__thumb--vertical:after {
    content: "";
    position: absolute;
    height: 5px;
    width: 100%;
    background-image: url(./assets/images/scrollbar_thumb_bottom.png);
    bottom: 0;
}
.scrollbar__thumb--vertical:hover:after {
    background-position: -17px 0;
}
.scrollbar__thumb--vertical:active:after {
    background-position: -34px 0;
}
.scrollbar__thumbPlaceholder--autoExpand:hover > .scrollbar__thumb--vertical {
    transform: scaleX(1);
}
.scrollbar__thumbPlaceholder--autoHide {
    opacity: 1;
}
.scrollbar__thumb {
    opacity: 1;
    border-radius: 0;
}